/*!
THEMES COLORS
*/



/* BLUE THEME */
.theme-blue a:not(.btn):not(.fc-event):hover,
.theme-blue #search.nav-search.search-open input,
.theme-blue #search.nav-search.search-open input:focus,
.theme-blue .breadcrumb a:hover,
.theme-blue .categories-list li a:hover,
.theme-blue .categories-list li a.current,
.theme-blue .header-dark .categories-list li a:hover,
.theme-blue .item .item-meta a:hover,
.theme-blue .testimonial .testimonial-meta .testimonial-subtitle a,
.theme-blue .search-overlay form,
.theme-blue header .blog-meta li a:hover,
.theme-blue header.header-dark .blog-meta li a:hover,
.theme-blue .post .post-info .post-meta a:hover,
.theme-blue .post .post-info .post-meta a.comments:hover,
.theme-blue .post-single .post-nav a:hover .prev-icon,
.theme-blue .post-single .post-nav a:hover .next-icon,
.theme-blue .posts .post .more,
.theme-blue .blog-square .post .post-comments a:hover,
.theme-blue .blog-timeline .posts .post:hover .post-date,
.theme-blue .pagination li:not(.disabled) a:hover,
.theme-blue .shop-breadcrumb ul li a:hover,
.theme-blue #footer .widget-text a,
.theme-blue #footer .widget-twitter a,
.theme-blue .datepicker thead tr th.prev,
.theme-blue .datepicker thead tr th.next,
.theme-blue figure.he-2 a:hover,
.theme-blue #main-navigation #main-menu > ul > li.current > a,
.theme-blue #main-navigation #main-menu > ul .is-open,
.theme-blue #main-navigation #main-menu > ul > li.current i,
.theme-blue .header-dark #main-navigation #main-menu > ul > li > a.is-open,
.theme-blue .header-dark #main-navigation #main-menu > ul > li.current > a,
.theme-blue
  .header-transparent.topnav-top
  #main-navigation
  #main-menu
  > ul
  > li.current
  > a,
.theme-blue .hover-effect-2 a:hover span,
.theme-blue header#main-navigation .current > a span::before,
.theme-blue .c-primary,
.theme-blue .text-primary,
.theme-blue .shortcode-question span,
.theme-blue #icons-wrapper ul li:hover i,
.theme-blue .widget-twitter .tweets-list li a,
.theme-blue .widget-links li a:hover,
.theme-blue .required:after,
.theme-blue .form-group.form-grouped.required:after,
.theme-blue code,
.theme-blue .header-icon,
.theme-blue.header-dark #main-navigation #main-menu > ul > li > a.is-open,
.theme-blue.header-dark #main-navigation #main-menu > ul > li.current > a,
.theme-blue .creative-element .title .subtitle,
.theme-blue .title h1 span,
.theme-blue .title h2 span,
.theme-blue .title h3 span,
.theme-blue .title h4 span,
.theme-blue .title h5 span,
html.split-bordered
  .theme-blue
  #main-navigation
  #main-menu
  > ul
  > li.active
  > a,
.theme-blue .erinyen .tp-tab-title,
.theme-blue .items-filter li a:hover,
.theme-blue .items-filter li a.current,
.theme-blue .header-dark .items-filter li a:hover,
.theme-blue .header-dark .items-filter li a.current,
.theme-blue.header-transparent.topnav-top
  #main-navigation
  #main-menu
  > ul
  > li.current
  > a,
.theme-blue .posts .post .more,
.theme-blue .cart-wrapper .cart-subtotal td:first-child,
.theme-blue .cart-wrapper .cart-total td:first-child,
.theme-blue .product .product-info .add-to-cart,
.theme-blue .product .product-info .view-cart,
.theme-blue .product .product-info .product-new-price,
.theme-blue .rating .fa-star,
.theme-blue .rating .fa-star-half-o,
.theme-blue.header-dark
  #main-aside-navigation
  #main-aside-menu
  > ul
  > li
  > a.is-open,
.theme-blue.clean-design .title .subtitle,
.theme-blue .grouped-item .grouped-item-price,
.theme-blue .title .subtitle,
.theme-blue .tp-caption.Newspaper-subtitle,
.theme-blue.header-scroll-dark
  #main-navigation
  #main-menu
  > ul
  > li.current
  > a,
.theme-blue.header-scroll-dark
  #main-navigation
  .main-menu
  > ul
  > li.current
  > a,
.theme-blue .feature-box .feature-content p.subtitle,
.theme-blue .product-quick-desc,
.theme-blue .subtitle,
.theme-blue #search.nav-search.search-open input,
.theme-blue #search.nav-search.search-open input:focus,
.theme-blue .search.nav-search.search-open input,
.theme-blue .search.nav-search.search-open input:focus {
  color: #acce22;
}
.theme-blue .c-primary,
.theme-blue .text-primary,
.theme-blue #main-aside-navigation #main-aside-menu > ul .is-open,
.theme-blue #main-aside-navigation #main-aside-menu > ul > li.current i,
.theme-blue #main-aside-navigation #main-aside-menu > ul > li.current > a,
.theme-blue
  .header-dark
  #main-aside-navigation
  #main-aside-menu
  > ul
  > li.current
  > a,
.theme-blue
  .header-dark
  #main-aside-navigation
  #main-aside-menu
  > ul
  > li
  > a.is-open,
.theme-blue.split-screen #main-menu li.active a,
html.split-bordered
  .theme-blue
  #main-navigation
  #main-menu
  > ul
  > li.active
  > a,
.theme-blue #main-navigation #main-menu > ul .is-open,
.theme-blue #main-navigation #main-menu > ul > li.current i,
.theme-blue #main-navigation #main-menu > ul > li.current > a,
.theme-blue #main-navigation .main-menu > ul .is-open,
.theme-blue #main-navigation .main-menu > ul > li.current i,
.theme-blue #main-navigation .main-menu > ul > li.current > a {
  color: #acce22 !important;
}
.theme-blue .bg-primary,
.theme-blue .btn-primary:not(.btn-bordered),
.theme-blue .btn-primary:not(.btn-bordered).active,
.theme-blue .btn-primary:not(.btn-bordered).focus,
.theme-blue .btn-primary:not(.btn-bordered):active,
.theme-blue .btn-primary:not(.btn-bordered):focus,
.theme-blue .btn-primary:hover,
.theme-blue .open > .dropdown-toggle.btn-primary,
.theme-blue .btn-primary.btn-bordered:hover,
.theme-blue .sort-options .select-filters .select-filter ul li a:hover,
.theme-blue
  .select2-container--default
  .select2-selection--multiple
  .select2-selection__choice,
.theme-blue .label-primary,
.theme-blue .datepicker table tr td.active:hover,
.theme-blue .datepicker table tr td.active:hover:hover,
.theme-blue .datepicker table tr td.active.disabled:hover,
.theme-blue .datepicker table tr td.active.disabled:hover:hover,
.theme-blue .datepicker table tr td.active:focus,
.theme-blue .datepicker table tr td.active:hover:focus,
.theme-blue .datepicker table tr td.active.disabled:focus,
.theme-blue .datepicker table tr td.active.disabled:hover:focus,
.theme-blue .datepicker table tr td.active:active,
.theme-blue .datepicker table tr td.active:hover:active,
.theme-blue .datepicker table tr td.active.disabled:active,
.theme-blue .datepicker table tr td.active.disabled:hover:active,
.theme-blue .datepicker table tr td.active.active,
.theme-blue .datepicker table tr td.active:hover.active,
.theme-blue .datepicker table tr td.active.disabled.active,
.theme-blue .datepicker table tr td.active.disabled:hover.active,
.theme-blue .open .dropdown-toggle.datepicker table tr td.active,
.theme-blue .open .dropdown-toggle.datepicker table tr td.active:hover,
.theme-blue .open .dropdown-toggle.datepicker table tr td.active.disabled,
.theme-blue .open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.theme-blue .datepicker table tr td span.active:hover,
.theme-blue .datepicker table tr td span.active:hover:hover,
.theme-blue .datepicker table tr td span.active.disabled:hover,
.theme-blue .datepicker table tr td span.active.disabled:hover:hover,
.theme-blue .datepicker table tr td span.active:focus,
.theme-blue .datepicker table tr td span.active:hover:focus,
.theme-blue .datepicker table tr td span.active.disabled:focus,
.theme-blue .datepicker table tr td span.active.disabled:hover:focus,
.theme-blue .datepicker table tr td span.active:active,
.theme-blue .datepicker table tr td span.active:hover:active,
.theme-blue .datepicker table tr td span.active.disabled:active,
.theme-blue .datepicker table tr td span.active.disabled:hover:active,
.theme-blue .datepicker table tr td span.active.active,
.theme-blue .datepicker table tr td span.active:hover.active,
.theme-blue .datepicker table tr td span.active.disabled.active,
.theme-blue .datepicker table tr td span.active.disabled:hover.active,
.theme-blue .open .dropdown-toggle.datepicker table tr td span.active,
.theme-blue .open .dropdown-toggle.datepicker table tr td span.active:hover,
.theme-blue .open .dropdown-toggle.datepicker table tr td span.active.disabled,
.theme-blue
  .open
  .dropdown-toggle.datepicker
  table
  tr
  td
  span.active.disabled:hover,
.theme-blue input[type="radio"] + label::after,
.theme-blue input[type="checkbox"] + label::after,
.theme-blue .switcher .switch,
.theme-blue .ui-slider .ui-slider-range,
.theme-blue .ui-slider .ui-slider-handle,
.theme-blue .select-filter ul li:hover a:before,
.theme-blue .select-filter ul li.selected a:before,
.theme-blue .widget .tags a:hover,
.theme-blue .tags a:hover,
.theme-blue .price-plan.plan-primary .plan-header,
.theme-blue .price-plan.plan-primary .plan-info,
.theme-blue .alert-primary,
.theme-blue #footer.bg-primary,
.theme-blue #royal_preloader.royal_preloader_progress .royal_preloader_meter {
  background-color: #66ce9a !important;
}
.theme-blue .form-control:focus,
.theme-blue .form-group.form-grouped.focused,
.theme-blue .price-plan.plan-primary .plan-header,
.theme-blue .price-plan.plan-primary .plan-info,
.theme-blue .price-plan.plan-primary {
  border-color: #acce22;
}
.theme-blue .btn-primary.btn-bordered,
.theme-blue .select2-dropdown,
.theme-blue
  .select2-container--default.select2-container--focus
  .select2-selection--multiple,
.theme-blue .select2-container--open .select2-selection--single,
.theme-blue .focused .bootstrap-tagsinput,
.theme-blue .widget .tags a:hover,
.theme-blue .tags a:hover {
  border: 2px solid #acce22;
}
.theme-blue .ui-slider .ui-slider-handle {
  border: 3px solid #acce22;
}
.theme-blue .blog-timeline .posts .post:hover::before {
  border-top: 1px dashed #acce22;
}
.theme-blue .btn-primary:not(.btn-bordered):hover {
  background: #5f9eb3 !important;
}
.theme-blue .section-overlay.overlay-primary {
  background: rgba(102, 180, 206, 0.8) !important;
}
.theme-blue .video-overlay.overlay-primary:before {
  background: rgba(102, 180, 206, 0.3);
}
.theme-blue .title.title-line-primary::after {
  border: 1px solid #acce22;
}
.theme-blue .blog-timeline .posts .post:hover .post-date {
  border: 2px solid #acce22;
  color: #acce22 !important;
}
.theme-blue
  .select2-container--default.select2-container--focus
  .select2-selection--multiple,
.theme-blue
  .select2-container--default.select2-container--open.select2-container--above
  .select2-selection--multiple,
.theme-blue
  .select2-container--default.select2-container--open.select2-container--above
  .select2-selection--single {
  border: 2px solid #acce22 !important;
}
.theme-blue .progress-bar-primary,
.theme-blue .progress-bar-primary[value]::-webkit-progress-value {
  background-color: #acce22;
}


.theme-blue.header-transparent.topnav-top
  #main-navigation
  #main-menu
  > ul
  > li.current
  > a,
.theme-indigo.header-transparent.topnav-top
  #main-navigation
  #main-menu
  > ul
  > li.current
  > a,
.theme-purple.header-transparent.topnav-top
  #main-navigation
  #main-menu
  > ul
  > li.current
  > a,
.theme-teal.header-transparent.topnav-top
  #main-navigation
  #main-menu
  > ul
  > li.current
  > a,
.theme-red.header-transparent.topnav-top
  #main-navigation
  #main-menu
  > ul
  > li.current
  > a,
.theme-amber.header-transparent.topnav-top
  #main-navigation
  #main-menu
  > ul
  > li.current
  > a,
.theme-brown.header-transparent.topnav-top
  #main-navigation
  #main-menu
  > ul
  > li.current
  > a,
.theme-dark.header-transparent.topnav-top
  #main-navigation
  #main-menu
  > ul
  > li.current
  > a,
.theme-dark.header-dark
  #main-aside-navigation
  #main-aside-menu
  > ul
  > li
  > a.is-open,
.theme-dark .tp-caption.Newspaper-subtitle {
  color: #c5c5c5;
}
